.active{
    color: #1e8efb;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    height: 100px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.logo{
    margin-left: 2rem;
}

